<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory >
  <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
  <property name="hibernate.connection.password">admin</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/protein-tracker-batch-one?useSSL=false</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQL55Dialect</property>
  <property name="hibernate.generate_statistics">true</property>
  <property name="show_sql">true</property>
  <property name="hbm2ddl.auto">create</property>
  <mapping resource="org/simplilearn/workshop/model/User.hbm.xml"/>
  <mapping resource="org/simplilearn/workshop/model/UserHistory.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
